<section class="border-white/20 border-y">
  <div class="text-white mx-auto">
    <div class="mx-auto overflow-hidden overflow-x-hidden py-2 relative">
      <div class="w-full justify-between grid">
        <div
          class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-r">
        </div>
        <div
          class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
        </div>
      </div>
      <div class="scroll-animation-banner-container flex">
        <div class="scroll-animation-banner-list flex items-center  font-black font-display  relative tracking-widest uppercase whitespace-nowrap">
            Siti web <span class="hidden lg:inline">✺</span> 
            Logo design <span class="hidden lg:inline">✺</span> 
            Gestione social <span class="hidden lg:inline">✺</span> 
            Brand identity <span class="hidden lg:inline">✺</span> 
            UI/UX Design <span class="hidden lg:inline">✺</span>
            Mockup  <span class="hidden lg:inline">✺</span> 
            Banner  <span class="hidden lg:inline">✺</span> 
            Cartelloni pubblicitari <span class="hidden lg:inline">✺</span> 
            Biglietti da visita <span class="hidden lg:inline">✺</span> 
            Wireframe  <span class="hidden lg:inline">✺</span> 
            Prototipazione   <span class="hidden lg:inline">✺</span> 
            Strategie di marketing  <span class="hidden lg:inline">✺</span> 
            Visual design  <span class="hidden lg:inline">✺</span> 
            Creazione contenuti  <span class="hidden lg:inline">✺</span> 
            SEO   <span class="hidden lg:inline">✺</span> 
            Responsive design  <span class="hidden lg:inline">✺</span> 
            Campagne pubblicitarie   <span class="hidden lg:inline">✺</span> 
        </div>
        <div class="scroll-animation-banner-list flex items-center  font-black font-display  relative tracking-widest uppercase whitespace-nowrap">
            Siti web <span class="hidden lg:inline">✺</span> 
            Logo design <span class="hidden lg:inline">✺</span> 
            Gestione social <span class="hidden lg:inline">✺</span> 
            Brand identity <span class="hidden lg:inline">✺</span> 
            UI/UX Design <span class="hidden lg:inline">✺</span>
            Mockup  <span class="hidden lg:inline">✺</span> 
            Banner  <span class="hidden lg:inline">✺</span> 
            Cartelloni pubblicitari <span class="hidden lg:inline">✺</span> 
            Biglietti da visita <span class="hidden lg:inline">✺</span> 
            Wireframe  <span class="hidden lg:inline">✺</span> 
            Prototipazione   <span class="hidden lg:inline">✺</span> 
            Strategie di marketing  <span class="hidden lg:inline">✺</span> 
            Visual design  <span class="hidden lg:inline">✺</span> 
            Creazione contenuti  <span class="hidden lg:inline">✺</span> 
            SEO   <span class="hidden lg:inline">✺</span> 
            Responsive design  <span class="hidden lg:inline">✺</span> 
            Campagne pubblicitarie   <span class="hidden lg:inline">✺</span> 
        </div>
      </div>
    </div>
  </div>
</section>

