<section class="border-white/20 border-b">
    <div class="mx-auto border-white/20 border-x max-w-7xl gradient-grid">
      <div class="mx-auto max-w-7xl p-8 py-12 lg:pt-28">
        <p class="text-white font-display uppercase lg:text-6xl text-xl">
          CV Digitale<br><br>
          Esperienze visive che prendono vita.
        </p>
      </div>
      
      <div class="mx-auto max-w-7xl p-8">
        <p class="text-white font-display uppercase lg:text-3xl">
          Ogni progetto è una storia da raccontare,<br><br>
          dove tecnologia ed estetica si fondono insieme.<br><br>
          Dal concept alla realizzazione,<br><br/>
          creo esperienze digitali che parlano.<br><br/>
          Il <span class="text-[#73A040]">mio processo</span> è un viaggio<br><br/>
          verso l'<span class="text-[#9CC56D]">innovazione</span>.
        </p>
      </div>
      
      <div class="mx-auto max-w-7xl p-8">
        <div class="aspect-video w-full overflow-hidden rounded-lg bg-black/20">
          <iframe
            class="w-full h-full object-cover transition-opacity duration-300"
            src="../../../public/CV/CV.pdf"
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>
  </section>