<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Progetti creati con passione e precisione.<br> <br> 
        Ogni linea di codice e ogni pixel sono pensati per raccontare la tua storia e lasciare un segno.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Design, sviluppo e strategie pensati per trasformare idee in esperienze digitali uniche.<br>
        Creo soluzioni che vanno oltre il semplice sito web,<br>
        progettando interfacce coinvolgenti e ottimizzando
        ogni aspetto per raggiungere il massimo impatto.<br>
        Che si tratti di un brand nuovo o di un restyling.<br>
        <br>
        il <span class="text-[#73A040]">mio obiettivo</span> è creare connessioni autentiche con<br><br>
        il <span class="text-[#9CC56D]">tuo pubblico</span> e offrire esperienze che lasciano il segno.
      </p>
    </div>
  </div>
</section>
