<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Esperienze visive che comunicano e ispirano.<br> <br> 
        Ogni linea di codice e ogni pixel sono pensati per raccontare la tua storia e lasciare un segno.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Progetto soluzioni personalizzate che uniscono estetica e strategia.<br><br>
        Non solo design, ma vere esperienze che raccontano il tuo brand e creano legami autentici con il tuo target.<br><br>
        Dal branding al design delle interfacce, fino alla gestione<br>
        della tua comunicazione digitale.<br><br>
        <br>
        il <span class="text-[#73A040]">mio obiettivo</span> è creare connessioni autentiche con<br><br>
        il <span class="text-[#9CC56D]">tuo pubblico</span> e offrire esperienze che lasciano il segno.
      </p>
    </div>
  </div>
</section>
