<section class="border-white/20  border-b">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="p-8">
      <p class="text-white font-display uppercase text-3xl lg:text-6xl">
        i miei servizi; per te
      </p>
    </div>
    <div
      class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2 md:gap-y-0">
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Progettazione e Sviluppo di Landing Page:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Creo landing page strategiche, ottimizzate per la conversione. 
          Ogni pagina è progettata per guidare l'utente verso l'azione desiderata,
          utilizzando tecniche moderne di design e sviluppo,
          assicurando performance elevate e tempi di caricamento ridotti.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >E-commerce e Soluzioni Online:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Sviluppo soluzioni e-commerce che mettono al centro l'esperienza di acquisto.
          Grazie a tecnologie come React e Tailwind CSS,
          costruisco piattaforme personalizzate che offrono
          un'esperienza utente fluida e intuitiva, 
          integrando anche metodi di pagamento sicuri.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Design per App Mobile:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Realizzo interfacce per app mobili
          con un approccio attento a design e usabilità.
          Creando esperienze visive e funzionali,
          mi assicuro che ogni app sia user-friendly e
          perfettamente integrata nelle esigenze del cliente.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Grafica per Stampa e Web:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Offro design grafico per progetti di stampa e digitali,
          inclusi brochure, poster, cartelloni pubblicitari e molto altro
          Il mio obiettivo è dare vita a progetti visivamente
          potenti che attraggono e coinvolgono il pubblico.
        </p>
      </div>
    </div>
  </div>
</section>
