<div
  class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2">
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#73A040]">
      Il design di un sito non è solo estetica, ma un’esperienza. <br>
      Creo interfacce che catturano l’attenzione e coinvolgono, 
      combinando storytelling visivo e strategie funzionali per rappresentare al meglio il tuo brand.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Creazione di Siti Web</span>
      <span class="block text-eagle">Racconta chi sei attraverso il design</span>
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#9CC56D]">
      Dai social nasce il dialogo con il tuo pubblico. <br>
      Costruisco piani editoriali creativi e immagini accattivanti, 
      per rafforzare la tua identità e trasformare follower in una community attiva e fedele.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Gestione dei Social</span>
      <span class="block text-eagle">Creatività e strategia al servizio della tua voce</span>
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#BAD699]">
      La tua immagine è il cuore del tuo brand. <br>
      Disegno loghi, palette colori e materiali grafici unici, 
      creando un’identità visiva che esprime i tuoi valori e resta impressa nella memoria.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Brand Identity</span>
      <span class="block text-eagle">Comunica la tua unicità al mondo</span>
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#D7E8C5]">
      Ogni esperienza digitale dovrebbe essere fluida e memorabile. <br>
      Progetto design centrati sull’utente, con un’estetica accattivante e un’interazione intuitiva, 
      per creare connessioni emotive con il tuo pubblico.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">UX/UI Design</span>
      <span class="block text-eagle">Design umano, esperienze senza tempo</span>
    </div>
  </div>
</div>
