<div
  class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2">
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#73A040]">
      Il tuo sito web è il tuo biglietto da visita digitale.
      Lavoro con attenzione ai dettagli per sviluppare soluzioni uniche,
      intuitive e responsive che rappresentano il tuo brand al meglio.
      Ogni progetto è un equilibrio tra design e funzionalità
      per raggiungere i tuoi obiettivi.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Creazione di Siti Web</span>
      <span class="block text-eagle">Siti unici, su misura per il tuo successo</span>
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#9CC56D]">
      I social media sono una potente vetrina.
      Mi occupo di creare strategie su misura,
      contenuti originali e una gestione efficace,
      mantenendo sempre un tono coerente con la tua brand identity
      per aumentare l'engagement e la visibilità.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Gestione dei Social</span>
      <span class="block text-eagle">Strategie per una presenza digitale forte</span>
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#BAD699]">
      Ogni brand racconta una storia.
      Lavoro per costruire identità visive solide,
      creando loghi, palette colori e materiali grafici che
      rispecchino i valori e l'unicità della tua azienda,
      per lasciare un'impronta memorabile.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Brand Identity</span>
      <span class="block text-eagle">La tua identità, il tuo marchio</span>
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#D7E8C5]">
      Credo che un design eccellente sia funzionale ed emozionale.
      Progetto esperienze digitali user-centric,
      garantendo interfacce intuitive,
      gradevoli e capaci di migliorare
      il rapporto tra utente e prodotto.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">UX/UI Design</span>
      <span class="block text-eagle">Design funzionale, esperienze memorabili</span>
    </div>
  </div>
</div>
